<ul class="mynavbar">
    <li class="myli"><a class="mya" href="http://0.0.0.0:88/serve/final_ds">Final dataset</a></li>
    <li class="mydropdown myli">
        <a href="#" class="mydropbtn mya">Raw datasets</a>
        <div class="mydropdown-content">
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_1_raw">Dataset 1</a>
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_3a_raw">Dataset 3a</a>
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_3b_raw">Dataset 3b</a>
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_4_raw">Dataset 4</a>
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_5_raw">Dataset 5</a>
        </div>
    </li>
    <li class="mydropdown myli">
        <a href="#" class="mydropbtn mya">Clean datasets</a>
        <div class="mydropdown-content">
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_1_clean">Dataset 1</a>
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_3a_clean">Dataset 3a</a>
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_3b_clean">Dataset 3b</a>
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_4_clean">Dataset 4</a>
            <a class="mya" href="http://0.0.0.0:88/serve/dataset_5_clean">Dataset 5</a>
        </div>
    </li>
</ul>